################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProblemOfSelectionEx/Debug
/Debug
/.vs/ProblemOfSelectionEx/v16
